In [2]:
import pandas as pd
test = pd.read_csv('C:/Users/RND/Documents/RP/4.Python/GBdata/california_housing_test.csv')

In [1]:
print(test)

NameError: name 'test' is not defined

In [14]:
test.shape

(3000, 9)

In [15]:
test.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [22]:
test[['latitude','population']]

      latitude  population
0        37.37      1537.0
1        34.26       809.0
2        33.78      1484.0
3        33.82        49.0
4        36.33       850.0
...        ...         ...
2995     34.42      1258.0
2996     34.06      3496.0
2997     36.30       693.0
2998     34.10        46.0
2999     34.42       753.0

[3000 rows x 2 columns]

'longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'
Задание: Необходимо вывести столбец total_rooms, у которого медианный возраст здания(housing_median_age) меньше 20.

In [36]:
test[test['housing_median_age'] < 20, 'total_rooms']

InvalidIndexError: (0       False
1       False
2       False
3       False
4        True
        ...
2995    False
2996    False
2997     True
2998    False
2999    False
Name: housing_median_age, Length: 3000, dtype: bool, 'total_rooms')